@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* Navigation Bar */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  transition: 0.5s;
}

header .logo {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style-type: none;
  position: relative;
}

header ul li a {
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}

/* Sticky Navigation Bar  */

header.sticky {
  background: rgb(255, 255, 255);
  padding: 20px 80px;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 1);
}

header.sticky .logo {
  color: #000;
}

header.sticky ul li a {
  color: #000;
}

/* Adding All My Section Tag Fixed Padding  */

section {
  padding: 80px;
}

#particles-js {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}

.banner {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111111;
  background-size: cover;
  background-position: right;
}

.banner h2 {
  font-size: 2.5em;
  color: #009e66;
  font-weight: 300;
  line-height: 1.5em;
}

.banner h2 span {
  font-size: 1.2em;
  font-weight: 200;
  color: #fff;
}

.banner h3 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
}

.button {
  position: relative;
  background: #009e66;
  display: inline-block;
  color: #000;
  margin-top: 5px;
  padding: 7px 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

/* Abbout Me Layout */

.heading {
  width: 100%;
  text-align: center;
  margin: 15px 0px;
  color: #111;
}

.heading p {
  font-style: italic;
  font-size: 14px;
}

.heading h2 {
  font-size: 3em;
  color: #009e66;
}

.content {
  display: flex;
  justify-content: space-between;
}

.contentbox {
  padding-left: 30px;
  text-align: justify;
}

.contentbox h2 {
  font-weight: 300;
  margin-bottom: 5px;
}

.propic {
  object-fit: cover;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #000000b0;
  cursor: pointer;
}

.heading.bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bt {
  margin-top: 10px;
}

/* Skills Section */

.inner {
  padding-top: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-gap: 1rem;
  padding: 1rem 80px;
  font-size: 1.2rem;
}

.skill-box {
  padding: 1rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.skill-box:hover>.skill-title:after, .skill-box:hover>.skill-title:before {
  width: 25px;
}

.skill-box:hover .img {
  transform: translateY(-5px);
}

.skill-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5 rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.skill-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 0;
  height: 4px;
  border-radius: 2px 0 0 2px;
  background-color: #009e66;
  transition: (0.5s);
}

.skill-title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 4px;
  border-radius: 0 2px 2px 0;
  background-color: #009e66;
  transition: (0.5s);
}

.skill-title h3 {
  color: rgb(0, 0, 0);
  margin-top: 0.5em;
  margin-bottom: 5px;
}

.img {
  width: 90px;
  height: 90px;
  object-fit: contain;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: (0.5s);
}

.img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 90px;
  border-radius: 45px 0 0 45px;
}

.skill-icon {
  width: 100px;
  z-index: 1;
}

/* Project Layout */

.work .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.work .content .workbox {
  width: 500px;
  padding: 20px;
}

.work .content .workbox img {
  max-width: 100%;
  border: 1px solid #000;
}

.work .content .workbox img:hover {
  box-shadow: 0 0 20px 10px #ccc;
  transform: scale(1.008);
  transition: 0.5s;
}

.work .content .workbox p {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.work .content .workbox a {
  text-decoration: none;
  color: #000;
}

.work .content .workbox a:active {
  color: #009e66;
  text-decoration: none;
}

/* Contact Layout Right Side */

.contact {
  background: #000;
}

.contact .heading.white {
  padding: 20px 0px;
  margin: 20px 0px;
}

.formbox {
  min-width: 60%;
}

.formbox h3, .contactinfo h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.formbox form {
  display: flex;
  flex-direction: column;
}

.formbox form input, .formbox form textarea {
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  background: #161616;
  color: #fff;
  resize: vertical;
}

.formbox form input:focus, .formbox form textarea:focus {
  border-bottom: 2px solid #009e66;
  transition: 0.5s;
}

.formbox form input::placeholder, .formbox form textarea::placeholder {
  color: #999;
}

.formbox form input[type="submit"] {
  background: #009e66;
  max-width: 200px;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 2px;
}

/* Contact Layout Left Side */

.contactinfo {
  min-width: 40%;
}

.contactinfo p {
  color: #999;
}

.contactinfobox {
  position: relative;
}

.contactinfobox .box {
  position: relative;
  padding: 20px 0px;
  display: flex;
}

.contactinfobox .box .icon {
  color: #fff;
  min-width: 40px;
  padding-top: 4px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
}

.contactinfobox .box .text {
  color: #999;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}

.contactinfobox .box .text p, address {
  font-size: normal;
  font-weight: 300;
  color: #999;
}

.contactinfobox .box .text h3 {
  color: #009e66;
  font-weight: 500;
  margin: 0;
}

.contactinfobox .boxsocial {
  display: flex;
  flex-direction: row;
  padding-left: 60px;
  letter-spacing: 15px;
}

.contactinfobox .boxsocial .fa {
  font-size: 42px;
  color: #009e66;
  cursor: pointer;
}

/* Footer Layout */

footer.copyright {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Making Responsive Layout */

@media (max-width: 990px) {
  header, header.sticky {
    padding: 20px 50px;
  }
  header .menu {
    display: none;
  }
  header .menu {
    position: fixed;
    background: white;
    display: block;
    top: 75px;
    left: -100%;
    padding: 100px 50px;
    width: 100%;
    height: 100vh;
    text-align: center;
    border-top: 1px solid #111;
    transition: 0.5s;
  }
  header .menu.active {
    position: fixed;
    background: white;
    display: block;
    top: 75px;
    left: 0;
    padding: 100px 50px;
    width: 100%;
    height: 100vh;
    text-align: center;
  }
  header ul li a {
    font-size: 20px;
    color: #111;
    font-weight: 400;
    margin: 10px 0px;
  }
  .toggle {
    width: 40px;
    height: 40px;
    background-image: url(./Assets/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }
  .toggle.active {
    width: 40px;
    height: 40px;
    background-image: url(./Assets/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  }
  header.sticky .toggle {
    filter: invert(1);
  }
  section {
    padding: 100px 30px;
  }
  .banner {
    padding: 150px 50px 100px;
  }
  .banner h2 {
    font-size: 1.5em;
  }
  .banner h3 {
    font-size: 1em;
  }
  .textbox {
    position: relative;
    top: 170px;
  }
  .button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
  }
  .content {
    flex-direction: column;
  }
  .contentbox {
    padding: 0;
  }
  .content .w50 img {
    display: block;
    margin: 0 auto 30px auto;
  }
  .contentbox h2 {
    font-size: 20px;
    font-weight: 300;
  }
  .contentbox h3 {
    font-size: 20px;
  }
  .heading h2 {
    font-size: 24px;
  }
  .skills .content .skilllsBx {
    margin: 10px;
  }
  .contactInfo {
    margin: 10px 0;
  }
  .container {
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 50px;
  }
}

@media (max-width: 768px) {
  .heading.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .heading.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .container {
    grid-template-columns: 1fr;
  }
}